<header class="master-head">
  <div class="header-wrap">
    <div class="header-warp-inner">
      <div class="left-part">
        <mat-drawer-container class="hamburguer-menu" autosize *ngIf="screenSize">
          <mat-drawer #drawer class="sidenav-menu" mode="side">
            <p>Auto-resizing sidenav</p>
            <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            <button (click)="showFiller = !showFiller" mat-raised-button>
              Toggle extra text
            </button>
          </mat-drawer>

          <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
        </mat-drawer-container>
        <h2>Grupo Eras</h2>
      </div>
      <div class="right-part" *ngIf="!screenSize">
        <nav class="nav-menu">
          <ul class="nav-menu-options">
            <li>
              <a href="">
                <section class="underline">//Blog</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Contacto</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Inicio</section>
              </a>
            </li>
            <li>
              <a href="">
                <section class="underline">//Propiedades</section>
              </a>
            </li>
            <li>
              <a href="">
                <mat-slide-toggle (change)="darkMode()">Dark Mode</mat-slide-toggle>
              </a>
            </li>
           
          </ul>
        </nav>
      </div>
    </div>
  </div>

</header>

<section id="presentation">
  <app-map></app-map>
</section>

<section id="aptitudes">
  <h1 class="heading-title">Nosotros</h1>
  <div class="container-aptitudes">
    <app-nosotros-card *ngFor="let worker of workers" [worker]="worker"></app-nosotros-card>
  </div>
</section>


<!---
<section id="certifications">
  <div class="container-certifications">
    <app-certification-card></app-certification-card>
    <app-certification-card></app-certification-card>
    <app-certification-card></app-certification-card>
  </div>
</section>-->